body{
    line-height: 1.5;
    margin: auto;
    font:1.2em/1.62em sans-serif;
    padding: 2em;
}

img {
    width : 100%;
}

h1,h2,h3{
    line-height:1.2em;
}

.newEntry{ /** Just in case*/
    padding:1em;
    border-radius: 15px;
    border-color: green;
    background-color: #EFFFEF;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2em;   
}

.header {
    font-size:50px;
    margin: 0;
    font-weight: 100;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    text-align: center;
}

.subHeader {
    font-weight: 100;
    margin-top: -1.5em;
    padding-bottom: 2em;
}

.label {
    float:left;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.error {
    float:right;
    color:red;
}

#loginContainer {
    margin:auto;
    width: auto;
    text-align:center;
}

input[type=text],input[type=password], select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    margin-top: -2px;  
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 26px;
}

input[type=submit] {
    text-align:center;
    font-size: 26px;
}

.submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

.passwordHint{
    font-size:18px;  
    color: gray;
}

.entryContainer {
    padding-bottom: 2em;
}

.entryHeader {
    line-height:1.2em;
    font-weight: 800;
    font-size: 38px;
    display:inline;
}

.entryDate { 
    font-weight: 100;
    font-size: 28px;
    float: right;
}

.entryBody {
    font-weight: 300;
}

.inactive{
    color: #777777;
}

.active {
    color: black;
}

@media screen and (min-width: 435px){
    .header {
        font-size: 62px;
    }
    
    .entryContainer {
/*        padding: 1em;*/
    }
    
    #loginContainer {
        max-width: 20em;   
    }
}

@media screen and (min-width: 578px){
    body {
     max-width:40em;   
    }
    
    .header {
        font-size: 82px;
        margin-left: -40px;
    }
    
    .subHeader {
        margin-top: -2.5em;
        padding-bottom: 1em;
    }
}